/*  -------------------- Tablets in landscape mode, older desktop monitors--------------------  */

@media only screen and (min-width: 1024px) and (max-width: 1365px) {}



/*  -------------------- Tablets in portrait mode, large display smartphones landscape mode -------------------- */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* -------------- REGOLE GENERALI  -------------- */


    /* -------------- FINE REGOLE GENERALI  -------------- */
}



/*  -------------------- Smartphones in landscape mode -------------------- */

@media only screen and (min-width: 421px) and (max-width: 767px) {}



/*  -------------------- Smartphones in portrait mode  -------------------- */

@media only screen and (max-width: 420px) {

    /* -------------- REGOLE GENERALI  -------------- */
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 30px;
        font-weight: 500;
        line-height: 1.2;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 18px;
    }

    main section {
        margin-top: 50px !important;
    }

    /* -------------- FINE REGOLE GENERALI  -------------- */

    /* -------------- INDEX -------------- */
    /* ---------- Header ----------- */

    /* ----- PreNav ------*/
    .pre-nav {
        display: none;
    }

    /* ----- Fine PreNav ------*/

    /* ----- Navbar ------*/
    nav.container div.nav-responsive {
        display: none;
        position: relative;
        z-index: 50;
        background-color: #fff;
        -webkit-box-shadow: 2px 10px 10px 1px rgba(196, 196, 196, 1);
        -moz-box-shadow: 2px 10px 10px 1px rgba(196, 196, 196, 1);
        box-shadow: 2px 10px 10px 1px rgba(196, 196, 196, 1);
    }

    nav.container ul {
        float: none;
    }

    nav.container ul li {
        text-align: center;
        display: block;
        padding: 0;
        z-index: 50;
        line-height: 50px;
    }

    nav button.hamburgher-menu {
        display: inline-block;
        width: 63px;
        border: 0;
        background-color: transparent;
        float: right;
    }

    nav button.hamburgher-menu img {
        margin-top: 20px;
        margin-left: 15px;
    }

    /* ----- Fine Navbar ------*/

    /* ----- Carousel ------*/
    div.home div.carousel,
    div.home div.carousel img {
        width: 100%;
        height: 200px;
    }

    div.carousel h1,
    div.carousel h2 {
        width: 250px;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
    }

    div.carousel h2 {
        top: 70%;
        font-size: 24px;
        transform: translate(-50%, -30%);
    }

    div.home a.carousel-control-next,
    div.home a.carousel-control-prev {
        display: none;
    }

    /* ----- Fine Carousel ------*/


    /* ----- Intro-Home ------*/
    section.intro-home div.row div.col-md-3 {
        text-align: center;
    }

    /* ----- Fine Intro-Home ------*/


    /* ----- Call-Widget ------*/
    div.call-box {
        margin-top: 25px;
    }

    /* ----- Fine Call-Widget ------*/

    /* ----- Media-text Razza ----- */
    .media-text.razza .text p {
        margin-top: 12.5px;
        font-size: 1rem;
        line-height: 25px;
        text-align: justify;
    }

    /* ----- Fine Media-text Razza ----- */

    /* ----- Paralax ----- */
    section.parallax div.container {
        padding-top: 120px;
    }

    /* ----- Fine Paralax ----- */

    /* ---------- Footer -----------*/
    footer h4,
    footer .contatti {
        text-align: center;
    }

    footer .link-utili {
        display: none;
    }

    footer .col-md-4 {
        margin-top: 25px;
    }

    /* ---------- Fine Footer -----------*/
    /* -------------- FINE INDEX -------------- */


    /* -------------- CHI SIAMO -------------- */
    section.la-nostra-storia ul li {
        font-size: 18px;
        margin-left: 30px;
    }


    /* -------------- FINE CHI SIAMO -------------- */



}