/*  -------------------- Tablets in landscape mode, older desktop monitors--------------------  */

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
    /* ---------- Footer ----------- */
    footer .social ul li {
        padding: 20px;
    }
    /* ---------- Fine Footer ----------- */


}



/*  -------------------- Tablets in portrait mode, large display smartphones landscape mode -------------------- */

@media only screen and (min-width: 768px) and (max-width: 1023px) { 
    /*----- Regole Generali ------ */
    h1{
        font-size: 42px;
    }

    h2, div.carousel h2{
        font-size: 38px;
    }

    h3 {
        font-size: 34px;
    }

    section.intro-home div.col-lg-9 p, .media-text.razza .text p, p {
        font-size: 16px;
    }

    section.intro-home cite {
        font-size: 14px;
    }

    /*----- Fine Regole Generali ------ */

    /*----- PreNav ------ */
    header {
        display: block;
        overflow: auto;
    }

    .pre-nav .left {
        background-color: rgb(31, 31, 31);
        text-align: center;
    }

    .pre-nav .left ul li {
        display: inline-block;
    }

    .pre-nav .right {
        display: none;
      }
    /*----- Fine PreNav ------ */

    /*----- Carousel ------ */
    h1.fade-in.two{
        bottom: 45%;
        right: 12%;        
    }

    h2.fade-in.three{
        bottom: 30%;
        right: 12%;        
    }
    /*----- Fine Carousel ------ */

    /*----- Intro-Home ------ */
    .media-text.razza .text p{
        line-height: 30px;
    }
    /*----- Fine Intro-Home ------ */

    /*----- Call-widget ------ */
    div.row .col-lg-4{
        margin-bottom: 20px;
    }
    /*----- Fine Call-widget ------ */

    /* ---------- Footer ----------- */
    footer .social ul li {
        padding: 10px;
    }
    /* ---------- Fine Footer ----------- */

    /* ---------- Privacy Policy ----------- */
    div.privacy-policy h1{
        font-size: 38px;
    }
    /* ---------- Fine Privacy Policy ----------- */

}



/*  -------------------- Smartphones in landscape mode -------------------- */

@media only screen and (max-width: 767px) {
    /*----- PreNav ------ */
    header {
        display: block;
        overflow: auto;
    }

    .pre-nav .left {
        background-color: rgb(31, 31, 31);
        text-align: center;
    }

    .pre-nav .left ul li {
        display: inline-block;
    }

    .pre-nav .right {
        display: none;
      }
    /*----- Fine PreNav ------ */

    
    /* ----- Navbar ------*/
    nav.container div.nav-responsive {
        margin-top: 16px;
        display: none;
        position: relative;
        z-index: 10;
        background-color: rgb(31, 31, 31);
        -webkit-box-shadow: 2px 10px 10px 1px rgba(196, 196, 196, 1);
        -moz-box-shadow: 2px 10px 10px 1px rgba(196, 196, 196, 1);
        box-shadow: 2px 10px 10px 1px rgba(196, 196, 196, 1);
        color: #fff;
        margin-bottom: 25px;
    }

    nav.container ul {
        float: none;
    }

    nav.container ul li {
        text-align: center;
        display: block;
        padding: 0;
        z-index: 50;
        line-height: 50px;
    }

    nav.container ul li a {
        color: #fff;
    }

    nav button.hamburgher-menu {
        display: inline-block;
        width: 63px;
        border: 0;
        background-color: transparent;
        float: right;
    }

    nav button.hamburgher-menu img {
        margin-top: 20px;
        margin-left: 15px;
    }
    /* ----- Fine Navbar ------*/

    /* ----- Carousel ------ */
    div.carousel {
        margin-top: 0px;
    }
    /* ----- Fine Hero ------ */


    /* ----- Hero ------ */
    div.hero {
        height: 30vh;
    }
    /* ----- Fine Hero ------ */

    /* ----- Main ------ */
    main section{
        margin-top: 40px;
    }
    
    h1.fade-in.two{
        bottom: 45%;
        right: 12%;        
    }

    h2.fade-in.three{
        bottom: 30%;
        right: 12%;        
    }

    h1{
        font-size: 24px;
    }

    h2, h2.fade-in.three {
        font-size: 22px;
        margin-bottom: 0;
    }
    h3, .call-widget div.col-lg-4 div.box-text h3, div.gallery-description h3, div.privacy-policy h3{
        font-size: 20px;
    }
    p, div.col-lg-9 cite, section.intro-home div.col-lg-9 p, .media-text.razza .text p, .call-widget div.col-lg-4 div.box-text p, .contact, section li{
        font-size: 18px;
    }

    .media-text.razza .text p{
        line-height: 30px;
        margin-top: 16px;
    }
    
    .col-md-3.contact{
        margin: 0 calc(100% / 2 - 100px);
    }

    .container a.btn-secondary.contact{
        margin: 0 calc(100% / 2 - 80px);
        padding: 10px 20px;
        width: 160px;
    }

    div.row .col-lg-4{
        margin-bottom: 20px;
    }

    div.row div:first-child p{
        margin-top: 0;
    }

    div.row .col-lg-4 p{
        margin-top: 20px;
    }

    section.parallax{
        margin-top:0;
    }


     /* ----- Fine Main ------ */


    
    /* ----- Footer ------*/
    footer .social ul li {
        padding: 10px;
    }

    footer .img-responsive {
        margin-left: 10px;
    }

    footer .contatti, footer .presentazione, footer .link-utili {
        text-align: center;
        margin-bottom: 36px;
    }

    footer .link-utili {
        padding: 0;
    }
    /* ----- Fine Footer ------*/

    /* ----- Galleria ------*/
    .gallery-container {
        padding: 0;
    }

    .carousel__thumbnails li {
        margin: 0 5px;
    }

    section.gallery-section.container {
        padding-left: 0;
        padding-right: 0;
    }

    .carousel > input {
        margin-top: 0;
    }
    /* ----- Fine Galleria ------*/

    /* ----- Allevamento ----- */
    iframe.maps {
        margin-top: 40px;
        width: 97vw;
    }
    /* ----- Fine Allevamento ----- */
    
    /* ----- Privacy Policy ----- */
    div.privacy-policy h1 {
        font-size: 20px;
    }
    div.privacy-policy h2, div.privacy-policy h3 {
        font-size: 18px;
        text-align: center;
    }

    div.privacy-policy p.lead {
        text-align: center;
    } 

    div.privacy-policy p {
        font-size: 16px;
    }
    /* ----- Fine Privacy Policy ----- */
}
